<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.5.3.86 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="_1001_Production1">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="768"/>
  <Property Name="Index" Value="1001"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styPage]"/>
  <Property Name="Width" Value="1024"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[TemplateGlobal]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="TemplateGlobal"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <Layer Name="DEFAULT">
      <Property Name="BackColor" Value="15"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="768"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1024"/>
      <Property Name="Z-Order" Value="1"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="96759" Value="Example_USINT"/>
          <Text ID="96760" Value="Example_UINT"/>
          <Text ID="96761" Value="Example_UDINT"/>
          <Text ID="96762" Value="Example_STRING"/>
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="96759" Value="Example_USINT"/>
          <Text ID="96760" Value="Example_UINT"/>
          <Text ID="96761" Value="Example_UDINT"/>
          <Text ID="96762" Value="Example_STRING"/>
        </TextLayer>
        <TextLayer LanguageId="nl">
          <Text ID="96759" Value="Example_USINT"/>
          <Text ID="96760" Value="Example_UINT"/>
          <Text ID="96761" Value="Example_UDINT"/>
          <Text ID="96762" Value="Example_STRING"/>
        </TextLayer>
        <TextLayer LanguageId="it">
          <Text ID="96759" Value="Example_USINT"/>
          <Text ID="96760" Value="Example_UINT"/>
          <Text ID="96761" Value="Example_UDINT"/>
          <Text ID="96762" Value="Example_STRING"/>
        </TextLayer>
        <TextLayer LanguageId="da">
          <Text ID="96759" Value="Example_USINT"/>
          <Text ID="96760" Value="Example_UINT"/>
          <Text ID="96761" Value="Example_UDINT"/>
          <Text ID="96762" Value="Example_STRING"/>
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="96759" Value="Example_USINT"/>
          <Text ID="96760" Value="Example_UINT"/>
          <Text ID="96761" Value="Example_UDINT"/>
          <Text ID="96762" Value="Example_STRING"/>
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="96759" Value="Example_USINT"/>
          <Text ID="96760" Value="Example_UINT"/>
          <Text ID="96761" Value="Example_UDINT"/>
          <Text ID="96762" Value="Example_STRING"/>
        </TextLayer>
        <TextLayer LanguageId="pt">
          <Text ID="96759" Value="Example_USINT"/>
          <Text ID="96760" Value="Example_UINT"/>
          <Text ID="96761" Value="Example_UDINT"/>
          <Text ID="96762" Value="Example_STRING"/>
        </TextLayer>
        <TextLayer LanguageId="sv">
          <Text ID="96759" Value="Example_USINT"/>
          <Text ID="96760" Value="Example_UINT"/>
          <Text ID="96761" Value="Example_UDINT"/>
          <Text ID="96762" Value="Example_STRING"/>
        </TextLayer>
        <TextLayer LanguageId="el">
          <Text ID="96759" Value="Example_USINT"/>
          <Text ID="96760" Value="Example_UINT"/>
          <Text ID="96761" Value="Example_UDINT"/>
          <Text ID="96762" Value="Example_STRING"/>
        </TextLayer>
        <TextLayer LanguageId="fi">
          <Text ID="96759" Value="Example_USINT"/>
          <Text ID="96760" Value="Example_UINT"/>
          <Text ID="96761" Value="Example_UDINT"/>
          <Text ID="96762" Value="Example_STRING"/>
        </TextLayer>
        <TextLayer LanguageId="ru">
          <Text ID="96759" Value="Example_USINT"/>
          <Text ID="96760" Value="Example_UINT"/>
          <Text ID="96761" Value="Example_UDINT"/>
          <Text ID="96762" Value="Example_STRING"/>
        </TextLayer>
        <TextLayer LanguageId="cs">
          <Text ID="96759" Value="Example_USINT"/>
          <Text ID="96760" Value="Example_UINT"/>
          <Text ID="96761" Value="Example_UDINT"/>
          <Text ID="96762" Value="Example_STRING"/>
        </TextLayer>
        <TextLayer LanguageId="et">
          <Text ID="96759" Value="Example_USINT"/>
          <Text ID="96760" Value="Example_UINT"/>
          <Text ID="96761" Value="Example_UDINT"/>
          <Text ID="96762" Value="Example_STRING"/>
        </TextLayer>
        <TextLayer LanguageId="hu">
          <Text ID="96759" Value="Example_USINT"/>
          <Text ID="96760" Value="Example_UINT"/>
          <Text ID="96761" Value="Example_UDINT"/>
          <Text ID="96762" Value="Example_STRING"/>
        </TextLayer>
        <TextLayer LanguageId="lv">
          <Text ID="96759" Value="Example_USINT"/>
          <Text ID="96760" Value="Example_UINT"/>
          <Text ID="96761" Value="Example_UDINT"/>
          <Text ID="96762" Value="Example_STRING"/>
        </TextLayer>
        <TextLayer LanguageId="lt">
          <Text ID="96759" Value="Example_USINT"/>
          <Text ID="96760" Value="Example_UINT"/>
          <Text ID="96761" Value="Example_UDINT"/>
          <Text ID="96762" Value="Example_STRING"/>
        </TextLayer>
        <TextLayer LanguageId="mt">
          <Text ID="96759" Value="Example_USINT"/>
          <Text ID="96760" Value="Example_UINT"/>
          <Text ID="96761" Value="Example_UDINT"/>
          <Text ID="96762" Value="Example_STRING"/>
        </TextLayer>
        <TextLayer LanguageId="pl">
          <Text ID="96759" Value="Example_USINT"/>
          <Text ID="96760" Value="Example_UINT"/>
          <Text ID="96761" Value="Example_UDINT"/>
          <Text ID="96762" Value="Example_STRING"/>
        </TextLayer>
        <TextLayer LanguageId="sk">
          <Text ID="96759" Value="Example_USINT"/>
          <Text ID="96760" Value="Example_UINT"/>
          <Text ID="96761" Value="Example_UDINT"/>
          <Text ID="96762" Value="Example_STRING"/>
        </TextLayer>
        <TextLayer LanguageId="sl">
          <Text ID="96759" Value="Example_USINT"/>
          <Text ID="96760" Value="Example_UINT"/>
          <Text ID="96761" Value="Example_UDINT"/>
          <Text ID="96762" Value="Example_STRING"/>
        </TextLayer>
        <TextLayer LanguageId="no">
          <Text ID="96759" Value="Example_USINT"/>
          <Text ID="96760" Value="Example_UINT"/>
          <Text ID="96761" Value="Example_UDINT"/>
          <Text ID="96762" Value="Example_STRING"/>
        </TextLayer>
        <TextLayer LanguageId="tr">
          <Text ID="96759" Value="Example_USINT"/>
          <Text ID="96760" Value="Example_UINT"/>
          <Text ID="96761" Value="Example_UDINT"/>
          <Text ID="96762" Value="Example_STRING"/>
        </TextLayer>
        <TextLayer LanguageId="bg">
          <Text ID="96759" Value="Example_USINT"/>
          <Text ID="96760" Value="Example_UINT"/>
          <Text ID="96761" Value="Example_UDINT"/>
          <Text ID="96762" Value="Example_STRING"/>
        </TextLayer>
        <TextLayer LanguageId="ro">
          <Text ID="96759" Value="Example_USINT"/>
          <Text ID="96760" Value="Example_UINT"/>
          <Text ID="96761" Value="Example_UDINT"/>
          <Text ID="96762" Value="Example_STRING"/>
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="96759" Value="Example_USINT"/>
          <Text ID="96760" Value="Example_UINT"/>
          <Text ID="96761" Value="Example_UDINT"/>
          <Text ID="96762" Value="Example_STRING"/>
        </TextLayer>
        <TextLayer LanguageId="ko">
          <Text ID="96759" Value="Example_USINT"/>
          <Text ID="96760" Value="Example_UINT"/>
          <Text ID="96761" Value="Example_UDINT"/>
          <Text ID="96762" Value="Example_STRING"/>
        </TextLayer>
        <TextLayer LanguageId="ar">
          <Text ID="96759" Value="Example_USINT"/>
          <Text ID="96760" Value="Example_UINT"/>
          <Text ID="96761" Value="Example_UDINT"/>
          <Text ID="96762" Value="Example_STRING"/>
        </TextLayer>
        <TextLayer LanguageId="hr">
          <Text ID="96759" Value="Example_USINT"/>
          <Text ID="96760" Value="Example_UINT"/>
          <Text ID="96761" Value="Example_UDINT"/>
          <Text ID="96762" Value="Example_STRING"/>
        </TextLayer>
        <TextLayer LanguageId="is">
          <Text ID="96759" Value="Example_USINT"/>
          <Text ID="96760" Value="Example_UINT"/>
          <Text ID="96761" Value="Example_UDINT"/>
          <Text ID="96762" Value="Example_STRING"/>
        </TextLayer>
        <TextLayer LanguageId="aa">
          <Text ID="96759" Value=""/>
          <Text ID="96760" Value=""/>
          <Text ID="96761" Value=""/>
          <Text ID="96762" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="ja">
          <Text ID="96759" Value=""/>
          <Text ID="96760" Value=""/>
          <Text ID="96761" Value=""/>
          <Text ID="96762" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="sr">
          <Text ID="96759" Value=""/>
          <Text ID="96760" Value=""/>
          <Text ID="96761" Value=""/>
          <Text ID="96762" Value=""/>
        </TextLayer>
        <IndexMap>
          <Index ID="96759" Value="0"/>
          <Index ID="96760" Value="1"/>
          <Index ID="96761" Value="2"/>
          <Index ID="96762" Value="3"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001005" Name="bmpGroupBox">
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="570"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="22"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBmpGrpBox]"/>
          <Property Name="Top" Value="143"/>
          <Property Name="Width" Value="980"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpSeparator2">
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="22"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBmpSeparator]"/>
          <Property Name="Top" Value="257"/>
          <Property Name="Width" Value="980"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpSeparator1">
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="22"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBmpSeparator]"/>
          <Property Name="Top" Value="219"/>
          <Property Name="Width" Value="980"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpSeparator">
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="22"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBmpSeparator]"/>
          <Property Name="Top" Value="181"/>
          <Property Name="Width" Value="980"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtUsint">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="71"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styDescription]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="180"/>
          <Property Name="Width" Value="490"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtUint">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="71"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styDescription]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="1"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="219"/>
          <Property Name="Width" Value="490"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtUdint">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="71"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styDescription]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="2"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="257"/>
          <Property Name="Width" Value="490"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtString">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="71"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styDescription]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="3"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="295"/>
          <Property Name="Width" Value="490"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnPageUp">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[TPLa_SYM_Symbols]"/>
          <Property Name="BitmapIndex" Value="13"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="68"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="829"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="None"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBtnNaviBar_PageUp]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="63"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[TPL_CP_1000]"/>
          <Property Name="Width" Value="101"/>
        </Control>
        <Control ClassId="0x00001007" Name="nioUsint">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="610"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.Template.TPL_Password.Out.UserLevel]"/>
          <Property Name="LockingLevel" Value="3"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="100"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.TPL_Lockh.In.Cmd.StatusForLockingInputFields]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styNumericInput_H12V0]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="181"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.ProductionRecipe.Data.Example1]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="196"/>
        </Control>
        <Control ClassId="0x00001007" Name="nioUint">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="610"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.Template.TPL_Password.Out.UserLevel]"/>
          <Property Name="LockingLevel" Value="3"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="65535"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.TPL_Lockh.In.Cmd.StatusForLockingInputFields]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styNumericInput_H12V0]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="219"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.ProductionRecipe.Data.Example2]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="196"/>
        </Control>
        <Control ClassId="0x00001007" Name="nioUdint">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="610"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.Template.TPL_Password.Out.UserLevel]"/>
          <Property Name="LockingLevel" Value="3"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="123456789"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.TPL_Lockh.In.Cmd.StatusForLockingInputFields]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styNumericInput_H12V0]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="257"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.ProductionRecipe.Data.Example3]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="196"/>
        </Control>
        <Control ClassId="0x0000100B" Name="sioString">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="InputMode" Value="Clear"/>
          <Property Name="InputTabSize" Value="4"/>
          <Property Name="Left" Value="610"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.Template.TPL_Password.Out.UserLevel]"/>
          <Property Name="LockingLevel" Value="3"/>
          <Property Name="MaxChars" Value="10"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.TPL_Lockh.In.Cmd.StatusForLockingInputFields]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styStringInput_H12V0]"/>
          <Property Name="Top" Value="295"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.ProductionRecipe.Data.Example4]"/>
          <Property Name="Width" Value="196"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtTitle">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="48"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.Template.TPL_Pageh.Out.ActualPage]"/>
          <Property Name="Left" Value="188"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styHeadlineNaviBar]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TPL_PageTitle]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="74"/>
          <Property Name="Width" Value="513"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpProductionSymbol">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[TPLa_SYM_Symbols]"/>
          <Property Name="BitmapIndex" Value="24"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="48"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="110"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBitmap]"/>
          <Property Name="Top" Value="73"/>
          <Property Name="Width" Value="68"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnPageDwnDis">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[TPLa_SYM_Symbols]"/>
          <Property Name="BitmapIndex" Value="12"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="68"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="930"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="None"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBtnNaviBar_PageDwnDis]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="63"/>
          <Property Name="VirtualKey" Value="None"/>
          <Property Name="Width" Value="94"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtHeadliineSubTitle">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="26"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.Template.TPL_Pageh.Out.ActualPage]"/>
          <Property Name="Left" Value="732"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styHeadlineNaviBar]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TPL_PageSubTitle]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="84"/>
          <Property Name="Width" Value="80"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <LayerRef Source="Source[local].Layer[DialogLayer]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="DialogLayer"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="2"/>
    </LayerRef>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[TemplateGlobal].Control[sioPassword]">
      <Property Name="Down" Value="Source[local].Layer[TemplateGlobal].Control[InputStrRFID_Password1]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Right" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Up" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[TemplateGlobal].Control[InputStrRFID_Password1]">
      <Property Name="Down" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
      <Property Name="Right" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
      <Property Name="Up" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]">
      <Property Name="Down" Value="Source[embedded].Layer[DEFAULT].Control[nioUsint]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[InputStrRFID_Password1]"/>
      <Property Name="Right" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Up" Value="Source[local].Layer[TemplateGlobal].Control[sioPassword]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[TemplateGlobal].Control[nioPasswordLevelInput]">
      <Property Name="Down" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Right" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Up" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]">
      <Property Name="Down" Value="Source[embedded].Layer[DEFAULT].Control[nioUsint]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
      <Property Name="Right" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Up" Value="Source[local].Layer[TemplateGlobal].Control[nioPasswordLevelInput]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[DEFAULT].Control[nioUsint]">
      <Property Name="Down" Value="Source[embedded].Layer[DEFAULT].Control[nioUint]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Right" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Up" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[DEFAULT].Control[nioUint]">
      <Property Name="Down" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Right" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Up" Value="Source[embedded].Layer[DEFAULT].Control[nioUsint]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[DEFAULT].Control[nioUdint]">
      <Property Name="Down" Value="Source[embedded].Layer[DEFAULT].Control[sioString]"/>
      <Property Name="Left" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Right" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Up" Value="Source[embedded].Layer[DEFAULT].Control[nioUint]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[DEFAULT].Control[sioString]">
      <Property Name="Down" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputText]"/>
      <Property Name="Left" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputText]"/>
      <Property Name="Right" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputText]"/>
      <Property Name="Up" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]">
      <Property Name="Down" Value="Source[embedded].Layer[DEFAULT].Control[nioUdint]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Right" Value="Source[embedded].Layer[DEFAULT].Control[nioUdint]"/>
      <Property Name="Up" Value="Source[embedded].Layer[DEFAULT].Control[nioUdint]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[DialogLayer].Control[alAlarmOutputText]">
      <Property Name="Down" Value="Source[embedded].Layer[DEFAULT].Control[nioUsint]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Right" Value="Source[embedded].Layer[DEFAULT].Control[sioString]"/>
      <Property Name="Up" Value="Source[embedded].Layer[DEFAULT].Control[sioString]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[TemplateGlobal].Control[nioPasswordLevelOutput]"/>
    <TabSeqItem Index="1" Value="Source[local].Layer[TemplateGlobal].Control[sioRecipeName]"/>
    <TabSeqItem Index="2" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
    <TabSeqItem Index="3" Value="Source[local].Layer[TemplateGlobal].Control[sioPassword]"/>
    <TabSeqItem Index="4" Value="Source[embedded].Layer[DEFAULT].Control[nioUsint]"/>
    <TabSeqItem Index="5" Value="Source[embedded].Layer[DEFAULT].Control[nioUint]"/>
    <TabSeqItem Index="6" Value="Source[embedded].Layer[DEFAULT].Control[nioUdint]"/>
    <TabSeqItem Index="7" Value="Source[embedded].Layer[DEFAULT].Control[sioString]"/>
    <TabSeqItem Index="8" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
    <TabSeqItem Index="9" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputText]"/>
    <TabSeqItem Index="10" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoOutput]"/>
    <TabSeqItem Index="11" Value="Source[local].Layer[TemplateGlobal].Control[nioPasswordLevelInput]"/>
    <TabSeqItem Index="12" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
    <TabSeqItem Index="13" Value="Source[local].Layer[TemplateGlobal].Control[InputStrRFID_Password1]"/>
  </TabSequence>
</Page>