<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.5.3.86 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="_3240_UserManOverview">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="768"/>
  <Property Name="Index" Value="3240"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styPage]"/>
  <Property Name="Width" Value="1024"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[TemplateGlobal]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="TemplateGlobal"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="768"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1024"/>
      <Property Name="Z-Order" Value="1"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <TextLayer LanguageId="nl"/>
        <TextLayer LanguageId="it"/>
        <TextLayer LanguageId="da"/>
        <TextLayer LanguageId="fr"/>
        <TextLayer LanguageId="es"/>
        <TextLayer LanguageId="pt"/>
        <TextLayer LanguageId="sv"/>
        <TextLayer LanguageId="el"/>
        <TextLayer LanguageId="fi"/>
        <TextLayer LanguageId="ru"/>
        <TextLayer LanguageId="cs"/>
        <TextLayer LanguageId="et"/>
        <TextLayer LanguageId="hu"/>
        <TextLayer LanguageId="lv"/>
        <TextLayer LanguageId="lt"/>
        <TextLayer LanguageId="mt"/>
        <TextLayer LanguageId="pl"/>
        <TextLayer LanguageId="sk"/>
        <TextLayer LanguageId="sl"/>
        <TextLayer LanguageId="no"/>
        <TextLayer LanguageId="tr"/>
        <TextLayer LanguageId="bg"/>
        <TextLayer LanguageId="ro"/>
        <TextLayer LanguageId="zh"/>
        <TextLayer LanguageId="ko"/>
        <TextLayer LanguageId="ar"/>
        <TextLayer LanguageId="hr"/>
        <TextLayer LanguageId="is"/>
        <TextLayer LanguageId="aa"/>
        <TextLayer LanguageId="ja"/>
        <TextLayer LanguageId="sr"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001005" Name="bmpGroupBox">
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="266"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="22"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBmpGrpBox]"/>
          <Property Name="Top" Value="143"/>
          <Property Name="Width" Value="980"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpSeparator9">
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="22"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBmpSeparator]"/>
          <Property Name="Top" Value="523"/>
          <Property Name="Width" Value="980"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpSeparator8">
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="22"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBmpSeparator]"/>
          <Property Name="Top" Value="485"/>
          <Property Name="Width" Value="980"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpSeparator7">
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="22"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBmpSeparator]"/>
          <Property Name="Top" Value="447"/>
          <Property Name="Width" Value="980"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpSeparator6">
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="22"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBmpSeparatorHeadline]"/>
          <Property Name="Top" Value="409"/>
          <Property Name="Width" Value="980"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpSeparator2">
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="22"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBmpSeparator]"/>
          <Property Name="Top" Value="257"/>
          <Property Name="Width" Value="980"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpSeparator1">
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="22"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBmpSeparator]"/>
          <Property Name="Top" Value="219"/>
          <Property Name="Width" Value="980"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpSeparator">
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="22"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBmpSeparator]"/>
          <Property Name="Top" Value="181"/>
          <Property Name="Width" Value="980"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnReturn">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[TPLa_SYM_Symbols]"/>
          <Property Name="BitmapIndex" Value="15"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="68"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="88"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBtnNaviBar_Middle]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="63"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[TPL_CP_3000_Bypass]"/>
          <Property Name="Width" Value="112"/>
        </Control>
        <Control ClassId="0x0000100B" Name="OutStrRFID_Transponder">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="512"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styStringOutput_H12V0]"/>
          <Property Name="Top" Value="257"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.TPL_UserManager.In.Info.RFID.TransponderTyp]"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtTransponder">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="71"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styDescription]"/>
          <Property Name="TextGroup" Value="None"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="257"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtTagTyp">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="71"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styDescription]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TPL_RFID_LogIn]"/>
          <Property Name="TextIndexOffset" Value="8"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="219"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x0000100B" Name="OutStrRFID_UID">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="512"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styStringOutput_H12V0]"/>
          <Property Name="Top" Value="181"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.TPL_UserManager.Out.Data.UserData.UID]"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtUID">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="71"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styDescription]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TPL_RFID_LogIn]"/>
          <Property Name="TextIndexOffset" Value="7"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="181"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x00001007" Name="NumOutRFID_LoginSystemMode">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="512"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styNumericOutput_H12V0]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="447"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.TPL_Config.In.Data.Password.Login.LoginSystemMode]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="98"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtLoginSystemMode">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="71"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styDescription]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TPL_RFID_LogIn]"/>
          <Property Name="TextIndexOffset" Value="10"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="447"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x00001007" Name="NumOutRFID_CommunicationMode">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="512"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styNumericOutput_H12V0]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="485"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.TPL_Config.In.Data.UserManagement.NbrOfRFIDReader]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtCommunicationMode">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="71"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styDescription]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TPL_RFID_LogIn]"/>
          <Property Name="TextIndexOffset" Value="11"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="485"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x00001007" Name="NumOutRFID_DoubleAuth">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="512"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styNumericOutput_H12V0]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="523"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.TPL_Config.In.Data.UserManagement.DoubleAuthentificationAvailable]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtDoubleAuth">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="71"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styDescription]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TPL_RFID_LogIn]"/>
          <Property Name="TextIndexOffset" Value="12"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="523"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x00001007" Name="NumOutRFID_LoggingAvailable">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="512"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styNumericOutput_H12V0]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="561"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.TPL_Config.In.Data.UserManagement.LoggingAvailable]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="98"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtLoggingAvailable">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="71"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.PasswordHandling.ulogniso.CFS_IsoLoginSys_Internal.Hmi.stIsoLoginSysShowSignalStrength]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styDescription]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TPL_RFID_LogIn]"/>
          <Property Name="TextIndexOffset" Value="13"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="561"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnReturn1">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[TPLa_SYM_Symbols]"/>
          <Property Name="BitmapIndex" Value="17"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="68"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="182"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBtnNaviBar_Middle]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="63"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[TPL_CP_3200_Bypass]"/>
          <Property Name="Width" Value="112"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtTitle">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="48"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.Template.TPL_Pageh.Out.ActualPage]"/>
          <Property Name="Left" Value="376"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styHeadlineNaviBar]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TPL_PageTitle]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="74"/>
          <Property Name="Width" Value="323"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpLoginSysSymbol">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[TPLa_SYM_Symbols]"/>
          <Property Name="BitmapIndex" Value="48"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="48"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="298"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBitmap]"/>
          <Property Name="Top" Value="73"/>
          <Property Name="Width" Value="68"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtLoginSystemMode1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="42"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styHeadline]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TPL_RFID_LogIn]"/>
          <Property Name="TextIndexOffset" Value="15"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="409"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpControlBar">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[TPLa_BG_Backgrounds]"/>
          <Property Name="BitmapIndex" Value="3"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="76"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="5"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBitmap]"/>
          <Property Name="Top" Value="689"/>
          <Property Name="Width" Value="1014"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnSDM">
          <Property Name="Bitmap" Value="Source[local].Bitmap[TPLa15_USER_NEW]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Font" Value="Source[local].Font[Arial13B]"/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="76"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="5"/>
          <Property Name="PressedBitmapSource" Value="None"/>
          <Property Name="PressedForeColor" Value="15"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.ButtonsState.AddUser.Invisible]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBtnCtrlBar_Left]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="689"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[TPL_3240_Add]"/>
          <Property Name="Width" Value="108"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnEditUser">
          <Property Name="Bitmap" Value="Source[local].Bitmap[TPLa15_USER_EDIT]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="76"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="111"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="None"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.ButtonsState.EditUser.Invisible]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBtnCtrlBar_Middle]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="689"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[TPL_3240_Edit]"/>
          <Property Name="Width" Value="102"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpGroupBox1">
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="266"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="22"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBmpGrpBox]"/>
          <Property Name="Top" Value="409"/>
          <Property Name="Width" Value="980"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpSeparatorHeadline">
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="22"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBmpSeparatorHeadline]"/>
          <Property Name="Top" Value="143"/>
          <Property Name="Width" Value="980"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtTagInformation">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="42"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styHeadline]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TPL_RFID_LogIn]"/>
          <Property Name="TextIndexOffset" Value="14"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="143"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpSeparator10">
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="22"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBmpSeparator]"/>
          <Property Name="Top" Value="561"/>
          <Property Name="Width" Value="980"/>
        </Control>
        <Control ClassId="0x0000100B" Name="OutStrRFID_TagTyp">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="512"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styStringOutput_H12V0]"/>
          <Property Name="Top" Value="219"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.TPL_UserManager.In.Info.RFID.TagName]"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpTransponderReaderInitialized">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[TPLa_BG_Signals]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="31"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.ElatecRFID.Elatec[0].Hmi.Status]"/>
          <Property Name="Left" Value="619"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.ElatecRFID.Elatec[0].Hmi.Visibility]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBitmap]"/>
          <Property Name="Top" Value="488"/>
          <Property Name="Width" Value="33"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpTransponderReaderInitialized1">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[TPLa_BG_Signals]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="31"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.ElatecRFID.Elatec[1].Hmi.Status]"/>
          <Property Name="Left" Value="684"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.ElatecRFID.Elatec[1].Hmi.Visibility]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBitmap]"/>
          <Property Name="Top" Value="488"/>
          <Property Name="Width" Value="33"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="TPL_3240_Add">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.HMICtrlInternal.Cmd.Add]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="TPL_3240_Edit">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.HMICtrlInternal.Cmd.Edit]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
    <LayerRef Source="Source[local].Layer[DialogLayer]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="DialogLayer"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="2"/>
    </LayerRef>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[TemplateGlobal].Control[sioPassword]">
      <Property Name="Down" Value="Source[local].Layer[TemplateGlobal].Control[InputStrRFID_Password1]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Right" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Up" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[TemplateGlobal].Control[InputStrRFID_Password1]">
      <Property Name="Down" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
      <Property Name="Right" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
      <Property Name="Up" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]">
      <Property Name="Down" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[InputStrRFID_Password1]"/>
      <Property Name="Right" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Up" Value="Source[local].Layer[TemplateGlobal].Control[sioPassword]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[TemplateGlobal].Control[nioPasswordLevelInput]">
      <Property Name="Down" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Right" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Up" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]">
      <Property Name="Down" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
      <Property Name="Right" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Up" Value="Source[local].Layer[TemplateGlobal].Control[nioPasswordLevelInput]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]">
      <Property Name="Down" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputText]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Right" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputText]"/>
      <Property Name="Up" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[DialogLayer].Control[alAlarmOutputText]">
      <Property Name="Down" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Right" Value="Source[local].Layer[TemplateGlobal].Control[InputStrRFID_Password1]"/>
      <Property Name="Up" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[TemplateGlobal].Control[nioPasswordLevelOutput]"/>
    <TabSeqItem Index="1" Value="Source[local].Layer[TemplateGlobal].Control[sioRecipeName]"/>
    <TabSeqItem Index="2" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
    <TabSeqItem Index="3" Value="Source[local].Layer[TemplateGlobal].Control[sioPassword]"/>
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Default].Control[OutStrRFID_Transponder]"/>
    <TabSeqItem Index="5" Value="Source[embedded].Layer[Default].Control[OutStrRFID_UID]"/>
    <TabSeqItem Index="6" Value="Source[embedded].Layer[Default].Control[NumOutRFID_LoginSystemMode]"/>
    <TabSeqItem Index="7" Value="Source[embedded].Layer[Default].Control[NumOutRFID_CommunicationMode]"/>
    <TabSeqItem Index="8" Value="Source[embedded].Layer[Default].Control[NumOutRFID_DoubleAuth]"/>
    <TabSeqItem Index="9" Value="Source[embedded].Layer[Default].Control[NumOutRFID_LoggingAvailable]"/>
    <TabSeqItem Index="10" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
    <TabSeqItem Index="11" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputText]"/>
    <TabSeqItem Index="12" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoOutput]"/>
    <TabSeqItem Index="13" Value="Source[local].Layer[TemplateGlobal].Control[nioPasswordLevelInput]"/>
    <TabSeqItem Index="14" Value="Source[embedded].Layer[Default].Control[OutStrRFID_TagTyp]"/>
    <TabSeqItem Index="15" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
    <TabSeqItem Index="16" Value="Source[local].Layer[TemplateGlobal].Control[InputStrRFID_Password1]"/>
  </TabSequence>
</Page>