<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.5.3.86 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="_3250_UserManEdit">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="768"/>
  <Property Name="Index" Value="3250"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styPage]"/>
  <Property Name="Width" Value="1024"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[TemplateGlobal]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="TemplateGlobal"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="768"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1024"/>
      <Property Name="Z-Order" Value="1"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="2207918" Value="min"/>
          <Text ID="2207919" Value="Erase all"/>
          <Text ID="2207920" Value="-"/>
          <Text ID="2207921" Value="+"/>
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="2207918" Value="min"/>
          <Text ID="2207919" Value="Alles löschen"/>
          <Text ID="2207920" Value="-"/>
          <Text ID="2207921" Value="+"/>
        </TextLayer>
        <TextLayer LanguageId="nl">
          <Text ID="2207918" Value="min"/>
          <Text ID="2207919" Value=" Alles wissen"/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="it">
          <Text ID="2207918" Value="min"/>
          <Text ID="2207919" Value=" Cancella tutto"/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="da">
          <Text ID="2207918" Value="min"/>
          <Text ID="2207919" Value=" Slet alt"/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="2207918" Value="min"/>
          <Text ID="2207919" Value=" Supprimer tout"/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="2207918" Value="min"/>
          <Text ID="2207919" Value=" Borrar todo"/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="pt">
          <Text ID="2207918" Value="min"/>
          <Text ID="2207919" Value=" Eliminar todos"/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="sv">
          <Text ID="2207918" Value="min"/>
          <Text ID="2207919" Value=" Radera alla"/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="el">
          <Text ID="2207918" Value="min"/>
          <Text ID="2207919" Value=" Διαγραφή όλων"/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="fi">
          <Text ID="2207918" Value="min"/>
          <Text ID="2207919" Value=" Poista kaikki"/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="ru">
          <Text ID="2207918" Value="Мин"/>
          <Text ID="2207919" Value=" Стереть всё"/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="cs">
          <Text ID="2207918" Value="min"/>
          <Text ID="2207919" Value=" Vymazat všechno"/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="et">
          <Text ID="2207918" Value="min"/>
          <Text ID="2207919" Value=" Kõikide kustutamine"/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="hu">
          <Text ID="2207918" Value="min"/>
          <Text ID="2207919" Value=" Mindent töröl"/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="lv">
          <Text ID="2207918" Value="min"/>
          <Text ID="2207919" Value="Dzēst visu"/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="lt">
          <Text ID="2207918" Value="min."/>
          <Text ID="2207919" Value=" Viską pašalinti"/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="mt">
          <Text ID="2207918" Value="min"/>
          <Text ID="2207919" Value=""/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="pl">
          <Text ID="2207918" Value="min"/>
          <Text ID="2207919" Value=" Usuń wszystko"/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="sk">
          <Text ID="2207918" Value="min"/>
          <Text ID="2207919" Value=" Všetko vymazať"/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="sl">
          <Text ID="2207918" Value="min"/>
          <Text ID="2207919" Value=" Izbriši vse"/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="no">
          <Text ID="2207918" Value="min"/>
          <Text ID="2207919" Value=" Slett alt"/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="tr">
          <Text ID="2207918" Value="min"/>
          <Text ID="2207919" Value=" Tümünü sil"/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="bg">
          <Text ID="2207918" Value="min"/>
          <Text ID="2207919" Value=" Изтриване на всичко"/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="ro">
          <Text ID="2207918" Value="min"/>
          <Text ID="2207919" Value=" Ștergere totală"/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="2207918" Value="min"/>
          <Text ID="2207919" Value=""/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="ko">
          <Text ID="2207918" Value="분"/>
          <Text ID="2207919" Value=""/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="ar">
          <Text ID="2207918" Value="دقائق"/>
          <Text ID="2207919" Value=""/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="hr">
          <Text ID="2207918" Value="min"/>
          <Text ID="2207919" Value=" Izbriši sve"/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="is">
          <Text ID="2207918" Value="min"/>
          <Text ID="2207919" Value=""/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="aa">
          <Text ID="2207918" Value=""/>
          <Text ID="2207919" Value=""/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="ja">
          <Text ID="2207918" Value=""/>
          <Text ID="2207919" Value=""/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="sr">
          <Text ID="2207918" Value=""/>
          <Text ID="2207919" Value=""/>
          <Text ID="2207920" Value=""/>
          <Text ID="2207921" Value=""/>
        </TextLayer>
        <IndexMap>
          <Index ID="2207918" Value="40"/>
          <Index ID="2207919" Value="43"/>
          <Index ID="2207920" Value="45"/>
          <Index ID="2207921" Value="47"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001005" Name="bmpGroupBox">
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="523"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="22"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBmpGrpBox]"/>
          <Property Name="Top" Value="143"/>
          <Property Name="Width" Value="980"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpSeparator9">
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="22"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBmpSeparator]"/>
          <Property Name="Top" Value="409"/>
          <Property Name="Width" Value="980"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpSeparator8">
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="22"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBmpSeparator]"/>
          <Property Name="Top" Value="371"/>
          <Property Name="Width" Value="980"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpSeparator7">
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="22"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBmpSeparator]"/>
          <Property Name="Top" Value="333"/>
          <Property Name="Width" Value="980"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpSeparator6">
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="22"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBmpSeparator]"/>
          <Property Name="Top" Value="295"/>
          <Property Name="Width" Value="980"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpSeparator2">
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="22"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBmpSeparator]"/>
          <Property Name="Top" Value="257"/>
          <Property Name="Width" Value="980"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpSeparator1">
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="22"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBmpSeparator]"/>
          <Property Name="Top" Value="219"/>
          <Property Name="Width" Value="980"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpSeparator">
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="22"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBmpSeparator]"/>
          <Property Name="Top" Value="181"/>
          <Property Name="Width" Value="980"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnReturn">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[TPLa_SYM_Symbols]"/>
          <Property Name="BitmapIndex" Value="15"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="68"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="88"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBtnNaviBar_Middle]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="63"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[TPL_CP_3000_Bypass]"/>
          <Property Name="Width" Value="112"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtRFID_Language">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="71"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styDescription]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TPL_RFID_LogIn]"/>
          <Property Name="TextIndexOffset" Value="2"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="257"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtRFID_Password">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="71"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styDescription]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TPL_RFID_LogIn]"/>
          <Property Name="TextIndexOffset" Value="1"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="219"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtRFID_UserName">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="71"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styDescription]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TPL_RFID_LogIn]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="181"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtRFID_UserLevel">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="71"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styDescription]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TPL_RFID_LogIn]"/>
          <Property Name="TextIndexOffset" Value="3"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="295"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtRFID_ExpDate">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="71"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styDescription]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TPL_RFID_LogIn]"/>
          <Property Name="TextIndexOffset" Value="4"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="333"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtRFID_LogoutTime">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="71"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styDescription]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TPL_RFID_LogIn]"/>
          <Property Name="TextIndexOffset" Value="5"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="371"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtRFID_FaultyPw">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="71"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.PasswordHandling.ulogniso.CFS_IsoLoginSys_Internal.Hmi.stIsoLoginSysShowSignalStrength]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styDescription]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TPL_RFID_LogIn]"/>
          <Property Name="TextIndexOffset" Value="6"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="409"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnReturn1">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[TPLa_SYM_Symbols]"/>
          <Property Name="BitmapIndex" Value="17"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="68"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="182"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBtnNaviBar_Middle]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="63"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[TPL_CP_3200_Bypass]"/>
          <Property Name="Width" Value="112"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtTitle">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="48"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.Template.TPL_Pageh.Out.ActualPage]"/>
          <Property Name="Left" Value="376"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styHeadlineNaviBar]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TPL_PageTitle]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="74"/>
          <Property Name="Width" Value="323"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpLoginSysSymbol">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[TPLa_SYM_Symbols]"/>
          <Property Name="BitmapIndex" Value="48"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="48"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="298"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBitmap]"/>
          <Property Name="Top" Value="73"/>
          <Property Name="Width" Value="68"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpControlBar">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[TPLa_BG_Backgrounds]"/>
          <Property Name="BitmapIndex" Value="3"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="76"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="5"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBitmap]"/>
          <Property Name="Top" Value="689"/>
          <Property Name="Width" Value="1014"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnCancel">
          <Property Name="Bitmap" Value="Source[local].Bitmap[TPLa15_CANCEL]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Font" Value="Source[local].Font[Arial13B]"/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="76"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="5"/>
          <Property Name="PressedBitmapSource" Value="None"/>
          <Property Name="PressedForeColor" Value="15"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.ButtonsState.Cancel.Invisible]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBtnCtrlBar_Left]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="689"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[TPL_3250_Cancel]"/>
          <Property Name="Width" Value="108"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnConfirm">
          <Property Name="Bitmap" Value="Source[local].Bitmap[TPLa15_CONFIRM]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="76"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="111"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="None"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.ButtonsState.Confirm.Invisible]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBtnCtrlBar_Middle]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="689"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[TPL_3250_Confirm]"/>
          <Property Name="Width" Value="102"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpSeparatorHeadline">
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="22"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBmpSeparatorHeadline]"/>
          <Property Name="Top" Value="143"/>
          <Property Name="Width" Value="980"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtUserInformation">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="42"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styHeadline]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TPL_RFID_LogIn]"/>
          <Property Name="TextIndexOffset" Value="16"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="143"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x0000100B" Name="InpStrRFID_UserName">
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.HMI_Value_Changed]"/>
          <Property Name="CompletionValue" Value="1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="InputTabSize" Value="4"/>
          <Property Name="Left" Value="512"/>
          <Property Name="MaxChars" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.TextState.Name.Invisible]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styStringInput_H12V0]"/>
          <Property Name="Top" Value="181"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.UserDataTemp.UserName]"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x0000100B" Name="InputStrRFID_Password">
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.PasswordFirstInput]"/>
          <Property Name="CompletionValue" Value="1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="InputMode" Value="Password"/>
          <Property Name="InputPasswordChar" Value="*"/>
          <Property Name="InputTabSize" Value="4"/>
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[HMI_AlphaPad_Password]"/>
          <Property Name="Left" Value="512"/>
          <Property Name="MaxChars" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.TextState.Password.Invisible]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styStringInput_H12V0]"/>
          <Property Name="Top" Value="219"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.UserDataTemp.Password]"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x00001018" Name="drpdRFID_Language">
          <Property Name="ButtonsBitmapGroup" Value="Source[local].BitmapGroup[TPLa_BTN_DropDownArrows]"/>
          <Property Name="ButtonsBitmapOffset" Value="0"/>
          <Property Name="ButtonsPressedBitmapGroup" Value="Source[local].BitmapGroup[TPLa_BTN_DropDownArrows]"/>
          <Property Name="ButtonsPressedBitmapOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.UserDataTemp.Language]"/>
          <Property Name="Left" Value="512"/>
          <Property Name="LeftBitmap" Value="None"/>
          <Property Name="LeftTextGroup" Value="None"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxIndex" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIndex" Value="None"/>
          <Property Name="OptionDatapoint" Value="None"/>
          <Property Name="RightBitmap" Value="None"/>
          <Property Name="RightTextGroup" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.TextState.Language.Invisible]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styDropdown]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TPL_Language]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="257"/>
          <Property Name="Width" Value="294"/>
        </Control>
        <Control ClassId="0x00001018" Name="drpdRFID_UserLevel">
          <Property Name="ButtonsBitmapGroup" Value="Source[local].BitmapGroup[TPLa_BTN_DropDownArrows]"/>
          <Property Name="ButtonsBitmapOffset" Value="0"/>
          <Property Name="ButtonsPressedBitmapGroup" Value="Source[local].BitmapGroup[TPLa_BTN_DropDownArrows]"/>
          <Property Name="ButtonsPressedBitmapOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.UserLvlTemp.Numeric]"/>
          <Property Name="Left" Value="512"/>
          <Property Name="LeftBitmap" Value="None"/>
          <Property Name="LeftTextGroup" Value="None"/>
          <Property Name="MaxDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.PasswordUpper]"/>
          <Property Name="MaxIndex" Value="5"/>
          <Property Name="MinDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.PasswordLower]"/>
          <Property Name="MinIndex" Value="1"/>
          <Property Name="OptionDatapoint" Value="None"/>
          <Property Name="RightBitmap" Value="None"/>
          <Property Name="RightTextGroup" Value="None"/>
          <Property Name="SimulationValue" Value="1"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.TextState.UserLevel.Invisible]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styDropdown]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TPL_RFID_UserLevel]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="295"/>
          <Property Name="Width" Value="294"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtDotMonth">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial13B]"/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="608"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.TextState.ExpirationDate.Invisible]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styDescription]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TPL_Dots]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="333"/>
          <Property Name="Width" Value="12"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtDotDay">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial13B]"/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="559"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.TextState.ExpirationDate.Invisible]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styDescription]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TPL_Dots]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="333"/>
          <Property Name="Width" Value="12"/>
        </Control>
        <Control ClassId="0x00001007" Name="NumInpRFID_Exp_Day">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="512"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="31"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIntegerDigits" Value="2"/>
          <Property Name="MinValue" Value="1"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.TextState.ExpirationDate.Invisible]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styNumericInput_H12V0]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="333"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.ExpirationDateTemp.Day]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="49"/>
        </Control>
        <Control ClassId="0x00001007" Name="NumInpRFID_Exp_Month">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="561"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="12"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIntegerDigits" Value="2"/>
          <Property Name="MinValue" Value="1"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.TextState.ExpirationDate.Invisible]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styNumericInput_H12V0]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="333"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.ExpirationDateTemp.Month]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="49"/>
        </Control>
        <Control ClassId="0x00001007" Name="NumInpRFID_Exp_Year">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="610"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="2099"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIntegerDigits" Value="4"/>
          <Property Name="MinValue" Value="2019"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.TextState.ExpirationDate.Invisible]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styNumericInput_H12V0]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="333"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.ExpirationDateTemp.Year]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="98"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtRFID_Minute">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="610"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.TextState.LogoutTime.Invisible]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styUnit]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="40"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="371"/>
          <Property Name="Width" Value="196"/>
        </Control>
        <Control ClassId="0x00001007" Name="NumInpRFID_LogOutTime">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="512"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="120"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="2"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.TextState.LogoutTime.Invisible]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styNumericInput_H12V0]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="371"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.UserDataTemp.LogoutTime]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="98"/>
        </Control>
        <Control ClassId="0x00001007" Name="NumInpRFID_LogInCounter">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="512"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="3"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.TextState.LoginCounter.Invisible]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styNumericInput_H12V0]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="409"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.LoginCounterTemp.Numeric]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="98"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnDelete">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[TPLa_SYM_Symbols]"/>
          <Property Name="BitmapIndex" Value="26"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="76"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="211"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="None"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.ButtonsState.DeleteUser.Invisible]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBtnCtrlBar_Middle]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="689"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[TPL_3250_Delete]"/>
          <Property Name="Width" Value="102"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnErase">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="76"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="411"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="None"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.ButtonsState.EraseAllUserData.Invisible]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBtnCtrlBar_Middle]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="43"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="689"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[TPL_3250_Erase]"/>
          <Property Name="Width" Value="102"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnBackward">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Font" Value="Source[local].Font[Arial22]"/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="76"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="811"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="None"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.ButtonsState.BackwardUserArray.Invisible]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBtnCtrlBar_Middle]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="45"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="689"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[TPL_3250_Backward_UserArray]"/>
          <Property Name="Width" Value="102"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnForward">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Font" Value="Source[local].Font[Arial22]"/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="76"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="911"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="None"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.ButtonsState.ForwardUserArray.Invisible]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBtnCtrlBar_Right]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="47"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="689"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[TPL_3250_Forward_UserArray]"/>
          <Property Name="Width" Value="102"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="TPL_3240_Add">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.HMICtrlInternal.Cmd.Add]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="TPL_3240_Edit">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.HMICtrlInternal.Cmd.Edit]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="TPL_3250_Backward_UserArray">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.HMICtrlInternal.Cmd.Backward]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="TPL_3250_Cancel">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.HMICtrlInternal.Cmd.Cancel]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="TPL_3250_Confirm">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.HMICtrlInternal.Cmd.Confirm]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="TPL_3250_Delete">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.HMICtrlInternal.Cmd.Delete]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="TPL_3250_Erase">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.HMICtrlInternal.Cmd.EraseUserData]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="TPL_3250_Forward_UserArray">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.UserManagement.HMI_Ctrl.HMICtrlInternal.Cmd.Forward]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
    <LayerRef Source="Source[local].Layer[DialogLayer]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="DialogLayer"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="2"/>
    </LayerRef>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[TemplateGlobal].Control[sioPassword]">
      <Property Name="Down" Value="Source[local].Layer[TemplateGlobal].Control[InputStrRFID_Password1]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Right" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Up" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[TemplateGlobal].Control[InputStrRFID_Password1]">
      <Property Name="Down" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
      <Property Name="Right" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
      <Property Name="Up" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[InpStrRFID_UserName]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[InputStrRFID_Password1]"/>
      <Property Name="Right" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Up" Value="Source[local].Layer[TemplateGlobal].Control[sioPassword]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[TemplateGlobal].Control[nioPasswordLevelInput]">
      <Property Name="Down" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Right" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Up" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[InpStrRFID_UserName]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
      <Property Name="Right" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Up" Value="Source[local].Layer[TemplateGlobal].Control[nioPasswordLevelInput]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[InpStrRFID_UserName]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[InputStrRFID_Password]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Right" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Up" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[InputStrRFID_Password]">
      <Property Name="Down" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Right" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[InpStrRFID_UserName]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[drpdRFID_Language]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[drpdRFID_UserLevel]"/>
      <Property Name="Left" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Right" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[InputStrRFID_Password]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[drpdRFID_UserLevel]">
      <Property Name="Down" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputText]"/>
      <Property Name="Left" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputText]"/>
      <Property Name="Right" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputText]"/>
      <Property Name="Up" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[NumInpRFID_Exp_Day]">
      <Property Name="Down" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputText]"/>
      <Property Name="Left" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputText]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[NumInpRFID_Exp_Month]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[drpdRFID_UserLevel]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[NumInpRFID_Exp_Month]">
      <Property Name="Down" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputText]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[NumInpRFID_Exp_Day]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[NumInpRFID_Exp_Year]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[drpdRFID_UserLevel]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[NumInpRFID_Exp_Year]">
      <Property Name="Down" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputText]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[NumInpRFID_Exp_Month]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[InputStrRFID_Password]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[drpdRFID_UserLevel]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[NumInpRFID_LogOutTime]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[NumInpRFID_LogInCounter]"/>
      <Property Name="Left" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputText]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[NumInpRFID_Exp_Year]"/>
      <Property Name="Up" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputText]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[NumInpRFID_LogInCounter]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[InpStrRFID_UserName]"/>
      <Property Name="Left" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputText]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[NumInpRFID_Exp_Year]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[NumInpRFID_LogOutTime]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[drpdRFID_Language]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[drpdRFID_Language]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[drpdRFID_Language]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[DialogLayer].Control[alAlarmOutputText]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[NumInpRFID_LogOutTime]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[drpdRFID_UserLevel]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[NumInpRFID_Exp_Day]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[TemplateGlobal].Control[nioPasswordLevelOutput]"/>
    <TabSeqItem Index="1" Value="Source[local].Layer[TemplateGlobal].Control[sioRecipeName]"/>
    <TabSeqItem Index="2" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
    <TabSeqItem Index="3" Value="Source[local].Layer[TemplateGlobal].Control[sioPassword]"/>
    <TabSeqItem Index="4" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
    <TabSeqItem Index="5" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputText]"/>
    <TabSeqItem Index="6" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoOutput]"/>
    <TabSeqItem Index="7" Value="Source[local].Layer[TemplateGlobal].Control[nioPasswordLevelInput]"/>
    <TabSeqItem Index="8" Value="Source[embedded].Layer[Default].Control[InputStrRFID_Password]"/>
    <TabSeqItem Index="9" Value="Source[embedded].Layer[Default].Control[InpStrRFID_UserName]"/>
    <TabSeqItem Index="10" Value="Source[embedded].Layer[Default].Control[drpdRFID_Language]"/>
    <TabSeqItem Index="11" Value="Source[embedded].Layer[Default].Control[drpdRFID_UserLevel]"/>
    <TabSeqItem Index="12" Value="Source[embedded].Layer[Default].Control[NumInpRFID_Exp_Day]"/>
    <TabSeqItem Index="13" Value="Source[embedded].Layer[Default].Control[NumInpRFID_Exp_Month]"/>
    <TabSeqItem Index="14" Value="Source[embedded].Layer[Default].Control[NumInpRFID_Exp_Year]"/>
    <TabSeqItem Index="15" Value="Source[embedded].Layer[Default].Control[NumInpRFID_LogOutTime]"/>
    <TabSeqItem Index="16" Value="Source[embedded].Layer[Default].Control[NumInpRFID_LogInCounter]"/>
    <TabSeqItem Index="17" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
    <TabSeqItem Index="18" Value="Source[local].Layer[TemplateGlobal].Control[InputStrRFID_Password1]"/>
  </TabSequence>
</Page>