<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.5.3.86 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="_7100_Recipe_Offline">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="768"/>
  <Property Name="Index" Value="7100"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styPage]"/>
  <Property Name="Width" Value="1024"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[TemplateGlobal]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="TemplateGlobal"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <Layer Name="DEFAULT">
      <Property Name="BackColor" Value="15"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="768"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1024"/>
      <Property Name="Z-Order" Value="1"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="360778" Value="Number:"/>
          <Text ID="360779" Value="Name:"/>
          <Text ID="360780" Value="Comment:"/>
          <Text ID="360783" Value="Type:"/>
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="360778" Value="Nummer:"/>
          <Text ID="360779" Value="Name:"/>
          <Text ID="360780" Value="Kommentar:"/>
          <Text ID="360783" Value="Typ:"/>
        </TextLayer>
        <TextLayer LanguageId="nl">
          <Text ID="360778" Value="Nummer:"/>
          <Text ID="360779" Value="Naam:"/>
          <Text ID="360780" Value="Commentaar:"/>
          <Text ID="360783" Value="Type:"/>
        </TextLayer>
        <TextLayer LanguageId="it">
          <Text ID="360778" Value="Numero:"/>
          <Text ID="360779" Value="Nome:"/>
          <Text ID="360780" Value="Commento:"/>
          <Text ID="360783" Value="Tipo:"/>
        </TextLayer>
        <TextLayer LanguageId="da">
          <Text ID="360778" Value="Tal:"/>
          <Text ID="360779" Value="Navn:"/>
          <Text ID="360780" Value="Kommentar:"/>
          <Text ID="360783" Value="Type:"/>
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="360778" Value="Numéro:"/>
          <Text ID="360779" Value="Nom:"/>
          <Text ID="360780" Value="Remarque:"/>
          <Text ID="360783" Value="Type :"/>
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="360778" Value="Número:"/>
          <Text ID="360779" Value="Nombre:"/>
          <Text ID="360780" Value="Comentario:"/>
          <Text ID="360783" Value="Tipo:"/>
        </TextLayer>
        <TextLayer LanguageId="pt">
          <Text ID="360778" Value="Número:"/>
          <Text ID="360779" Value="Nome:"/>
          <Text ID="360780" Value="Comentário:"/>
          <Text ID="360783" Value="Tipo:"/>
        </TextLayer>
        <TextLayer LanguageId="sv">
          <Text ID="360778" Value="Nummer:"/>
          <Text ID="360779" Value="Namn:"/>
          <Text ID="360780" Value="Kommentar:"/>
          <Text ID="360783" Value="Typ:"/>
        </TextLayer>
        <TextLayer LanguageId="el">
          <Text ID="360778" Value="Αριθμός:"/>
          <Text ID="360779" Value="Όνομα:"/>
          <Text ID="360780" Value="Σχόλιο:"/>
          <Text ID="360783" Value="Τύπος:"/>
        </TextLayer>
        <TextLayer LanguageId="fi">
          <Text ID="360778" Value="Numero:"/>
          <Text ID="360779" Value="Nimi:"/>
          <Text ID="360780" Value="Kommentti:"/>
          <Text ID="360783" Value="Tyyppi:"/>
        </TextLayer>
        <TextLayer LanguageId="ru">
          <Text ID="360778" Value="Номер:"/>
          <Text ID="360779" Value="Имя:"/>
          <Text ID="360780" Value="Комментарий:"/>
          <Text ID="360783" Value="Тип:"/>
        </TextLayer>
        <TextLayer LanguageId="cs">
          <Text ID="360778" Value="Cislo:"/>
          <Text ID="360779" Value="Jmeno:"/>
          <Text ID="360780" Value="Poznamka:"/>
          <Text ID="360783" Value="Typ:"/>
        </TextLayer>
        <TextLayer LanguageId="et">
          <Text ID="360778" Value="Arv:"/>
          <Text ID="360779" Value="Nimi:"/>
          <Text ID="360780" Value="Kommentaar:"/>
          <Text ID="360783" Value="Tüüp:"/>
        </TextLayer>
        <TextLayer LanguageId="hu">
          <Text ID="360778" Value="Szám:"/>
          <Text ID="360779" Value="Név:"/>
          <Text ID="360780" Value="Kommentár:"/>
          <Text ID="360783" Value="Típus:"/>
        </TextLayer>
        <TextLayer LanguageId="lv">
          <Text ID="360778" Value="Numurs:"/>
          <Text ID="360779" Value="Nosaukums:"/>
          <Text ID="360780" Value="Komentārs:"/>
          <Text ID="360783" Value="Tips:"/>
        </TextLayer>
        <TextLayer LanguageId="lt">
          <Text ID="360778" Value="Numeris:"/>
          <Text ID="360779" Value="Pavadinimas:"/>
          <Text ID="360780" Value="Komentaras:"/>
          <Text ID="360783" Value="Tipas:"/>
        </TextLayer>
        <TextLayer LanguageId="mt">
          <Text ID="360778" Value="Numru:"/>
          <Text ID="360779" Value="Isem:"/>
          <Text ID="360780" Value="Kumment:"/>
          <Text ID="360783" Value="Tip:"/>
        </TextLayer>
        <TextLayer LanguageId="pl">
          <Text ID="360778" Value="Numer:"/>
          <Text ID="360779" Value="Nazwa:"/>
          <Text ID="360780" Value="Komentarz:"/>
          <Text ID="360783" Value="Typ:"/>
        </TextLayer>
        <TextLayer LanguageId="sk">
          <Text ID="360778" Value="Číslo:"/>
          <Text ID="360779" Value="Meno:"/>
          <Text ID="360780" Value="Komentár:"/>
          <Text ID="360783" Value="Typ:"/>
        </TextLayer>
        <TextLayer LanguageId="sl">
          <Text ID="360778" Value="Številka:"/>
          <Text ID="360779" Value="Ime:"/>
          <Text ID="360780" Value="Komentar:"/>
          <Text ID="360783" Value="Tip:"/>
        </TextLayer>
        <TextLayer LanguageId="no">
          <Text ID="360778" Value="Nummer:"/>
          <Text ID="360779" Value="Navn:"/>
          <Text ID="360780" Value="Kommentar:"/>
          <Text ID="360783" Value="Type:"/>
        </TextLayer>
        <TextLayer LanguageId="tr">
          <Text ID="360778" Value="Numara:"/>
          <Text ID="360779" Value="Isim:"/>
          <Text ID="360780" Value="Yorum:"/>
          <Text ID="360783" Value="Tip:"/>
        </TextLayer>
        <TextLayer LanguageId="bg">
          <Text ID="360778" Value="Брой:"/>
          <Text ID="360779" Value="Име:"/>
          <Text ID="360780" Value="Забележка:"/>
          <Text ID="360783" Value="Тип:"/>
        </TextLayer>
        <TextLayer LanguageId="ro">
          <Text ID="360778" Value="Numar:"/>
          <Text ID="360779" Value="Nume:"/>
          <Text ID="360780" Value="Comentariu:"/>
          <Text ID="360783" Value="Tip:"/>
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="360778" Value="序号:"/>
          <Text ID="360779" Value="名称:"/>
          <Text ID="360780" Value="注释："/>
          <Text ID="360783" Value="类型:"/>
        </TextLayer>
        <TextLayer LanguageId="ko">
          <Text ID="360778" Value="번호:"/>
          <Text ID="360779" Value="이름:"/>
          <Text ID="360780" Value="메모:"/>
          <Text ID="360783" Value="모델:"/>
        </TextLayer>
        <TextLayer LanguageId="ar">
          <Text ID="360778" Value="عدد:"/>
          <Text ID="360779" Value="الإسم:"/>
          <Text ID="360780" Value="تعليق:"/>
          <Text ID="360783" Value="النوع:"/>
        </TextLayer>
        <TextLayer LanguageId="hr">
          <Text ID="360778" Value="Broj:"/>
          <Text ID="360779" Value="Naziv:"/>
          <Text ID="360780" Value="Komentar:"/>
          <Text ID="360783" Value="Vrsta:"/>
        </TextLayer>
        <TextLayer LanguageId="is">
          <Text ID="360778" Value="Númer:"/>
          <Text ID="360779" Value="Nafn:"/>
          <Text ID="360780" Value="Athugasemd:"/>
          <Text ID="360783" Value="Gerð:"/>
        </TextLayer>
        <TextLayer LanguageId="aa">
          <Text ID="360778" Value=""/>
          <Text ID="360779" Value=""/>
          <Text ID="360780" Value=""/>
          <Text ID="360783" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="ja">
          <Text ID="360778" Value="番号:"/>
          <Text ID="360779" Value="名前:"/>
          <Text ID="360780" Value="コメント:"/>
          <Text ID="360783" Value="デザイン:"/>
        </TextLayer>
        <TextLayer LanguageId="sr">
          <Text ID="360778" Value=""/>
          <Text ID="360779" Value=""/>
          <Text ID="360780" Value=""/>
          <Text ID="360783" Value=""/>
        </TextLayer>
        <IndexMap>
          <Index ID="360778" Value="27"/>
          <Index ID="360779" Value="28"/>
          <Index ID="360780" Value="29"/>
          <Index ID="360783" Value="32"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001005" Name="bmpGroupBox">
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="532"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="22"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBmpGrpBox]"/>
          <Property Name="Top" Value="143"/>
          <Property Name="Width" Value="980"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpSeparator2">
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="22"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBmpSeparator]"/>
          <Property Name="Top" Value="257"/>
          <Property Name="Width" Value="980"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpSeparator1">
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="22"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBmpSeparator]"/>
          <Property Name="Top" Value="219"/>
          <Property Name="Width" Value="980"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpSeparator">
          <Property Name="Bitmap" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="22"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBmpSeparator]"/>
          <Property Name="Top" Value="181"/>
          <Property Name="Width" Value="980"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpControlBar">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[TPLa_BG_Backgrounds]"/>
          <Property Name="BitmapIndex" Value="3"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="76"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="5"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBitmap]"/>
          <Property Name="Top" Value="689"/>
          <Property Name="Width" Value="1014"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnSave">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[TPLa_SYM_Symbols]"/>
          <Property Name="BitmapIndex" Value="30"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="76"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="5"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.Template.TPL_Password.Out.UserLevel]"/>
          <Property Name="LockingLevel" Value="3"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="None"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.TPL_Lockh.In.Cmd.StatusForLockingButtons]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBtnCtrlBar_Left]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="689"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[TPL_7100_Save]"/>
          <Property Name="Width" Value="108"/>
        </Control>
        <Control ClassId="0x0000100B" Name="sioRecipeName">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="InputTabSize" Value="4"/>
          <Property Name="Left" Value="512"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.Template.RecipeHandling.RecHandling.INT_Page.UserLevel]"/>
          <Property Name="LockingLevel" Value="3"/>
          <Property Name="MaxChars" Value="20"/>
          <Property Name="SimulationValue" Value="Recipe name"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.TPL_Lockh.In.Cmd.StatusForLockingInputFields]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styStringInput_H12V0]"/>
          <Property Name="Top" Value="219"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.ProductionRecipe_Offline.Name]"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x0000100B" Name="sioRecipeComment">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="InputTabSize" Value="4"/>
          <Property Name="Left" Value="512"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.Template.RecipeHandling.RecHandling.INT_Page.UserLevel]"/>
          <Property Name="LockingLevel" Value="3"/>
          <Property Name="MaxChars" Value="30"/>
          <Property Name="SimulationValue" Value="Recipe comment"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.TPL_Lockh.In.Cmd.StatusForLockingInputFields]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styStringInput_H12V0]"/>
          <Property Name="Top" Value="257"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.ProductionRecipe_Offline.Comment]"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x00001007" Name="nioRecipeNo">
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.Template.RecipeHandling.RecHandling.RecipeInternal.InputChanged]"/>
          <Property Name="CompletionValue" Value="20"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="512"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="99999999"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="1"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.RecipeHandling.RecHandling.RecipeInternal.RecipeNumberStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styNumericInput_H12V0]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="181"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.ProductionRecipe_Offline.Number]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtRecipeNo">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="71"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styDescription]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="27"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="181"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtRecipeName">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="71"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styDescription]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="28"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="219"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtRecipeComment">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="71"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styDescription]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="29"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="257"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtRecipeTypOut">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.ProductionRecipe_Offline.Type]"/>
          <Property Name="Left" Value="522"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styTextOutput]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TPL_RecipeType]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="295"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x00001018" Name="RecipeType">
          <Property Name="ButtonsBitmapGroup" Value="Source[local].BitmapGroup[TPLa_BTN_DropDownArrows]"/>
          <Property Name="ButtonsBitmapOffset" Value="0"/>
          <Property Name="ButtonsPressedBitmapGroup" Value="Source[local].BitmapGroup[TPLa_BTN_DropDownArrows]"/>
          <Property Name="ButtonsPressedBitmapOffset" Value="0"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.Template.TPL_Config.In.Cmd.WriteFile]"/>
          <Property Name="CompletionValue" Value="1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.ProductionRecipe_Offline.Type]"/>
          <Property Name="Left" Value="512"/>
          <Property Name="LeftBitmap" Value="None"/>
          <Property Name="LeftTextGroup" Value="None"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.Template.RecipeHandling.RecHandling.INT_Page.UserLevel]"/>
          <Property Name="LockingLevel" Value="5"/>
          <Property Name="MaxDatapoint" Value="Source[global].Variable[Local.Template.RecipeHandling.RecHandling.RecipeImputfieldMaxIndex]"/>
          <Property Name="MaxIndex" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIndex" Value="None"/>
          <Property Name="OptionDatapoint" Value="None"/>
          <Property Name="RightBitmap" Value="None"/>
          <Property Name="RightTextGroup" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="SingleTouchSelection" Value="True"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.RecipeHandling.RecHandling.RecipeImputFieldsInvisible]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styDropdown]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TPL_RecipeType]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="295"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtRecipeComment1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="71"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styDescription]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="32"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="295"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnOpen1">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[TPLa_SYM_Symbols]"/>
          <Property Name="BitmapIndex" Value="26"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="76"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="211"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.Template.TPL_Password.Out.UserLevel]"/>
          <Property Name="LockingLevel" Value="3"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="None"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.TPL_Lockh.In.Cmd.StatusForLockingButtons]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBtnCtrlBar_Middle]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="689"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[TPL_7100_Delete]"/>
          <Property Name="Width" Value="102"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnOpen">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[TPLa_SYM_Symbols]"/>
          <Property Name="BitmapIndex" Value="28"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="76"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="111"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.Template.TPL_Password.Out.UserLevel]"/>
          <Property Name="LockingLevel" Value="2"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="None"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.TPL_Lockh.In.Cmd.StatusForLockingButtons]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBtnCtrlBar_Middle]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="689"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[TPL_7100_Open]"/>
          <Property Name="Width" Value="102"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtTitle">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="48"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.Template.TPL_Pageh.Out.ActualPage]"/>
          <Property Name="Left" Value="282"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styHeadlineNaviBar]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TPL_PageTitle]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="74"/>
          <Property Name="Width" Value="422"/>
        </Control>
        <Control ClassId="0x00001007" Name="nioRecipeNo1">
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.Template.RecipeHandling.RecHandling.RecipeInternal.InputChanged]"/>
          <Property Name="CompletionValue" Value="20"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="Left" Value="512"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="99999999"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="1"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.Template.RecipeHandling.RecHandling.RecipeInternal.RecipeNumberStatusInverted]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styNumericOutput_H12V0]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="181"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.ProductionRecipe_Offline.Number]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="392"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnReturn">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[TPLa_SYM_Symbols]"/>
          <Property Name="BitmapIndex" Value="25"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="68"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="88"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="None"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBtnNaviBar_Middle]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="63"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[TPL_CP_7000_Bypass]"/>
          <Property Name="Width" Value="112"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpRecipeSymbol">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[TPLa_SYM_Symbols]"/>
          <Property Name="BitmapIndex" Value="25"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="48"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="204"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBitmap]"/>
          <Property Name="Top" Value="73"/>
          <Property Name="Width" Value="68"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="TPL_7100_Open">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.TPL_Rec.In.Cmd.LoadRecipeOffline]"/>
            </KeyAction>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_1"/>
              <Property Name="SetValue" Value="7101"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.TPL_Pageh.In.SwitchToPage]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="TPL_7100_Delete">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.TPL_Rec.In.Cmd.DelRecipeOffline]"/>
            </KeyAction>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_1"/>
              <Property Name="SetValue" Value="7101"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.TPL_Pageh.In.SwitchToPage]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="TPL_7100_Save">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.TPL_Rec.In.Cmd.SaveRecipeOffline]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
    <LayerRef Source="Source[local].Layer[DialogLayer]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="DialogLayer"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="2"/>
    </LayerRef>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[TemplateGlobal].Control[sioPassword]">
      <Property Name="Down" Value="Source[local].Layer[TemplateGlobal].Control[InputStrRFID_Password1]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Right" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Up" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[TemplateGlobal].Control[InputStrRFID_Password1]">
      <Property Name="Down" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
      <Property Name="Right" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
      <Property Name="Up" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]">
      <Property Name="Down" Value="Source[embedded].Layer[DEFAULT].Control[nioRecipeNo]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[InputStrRFID_Password1]"/>
      <Property Name="Right" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Up" Value="Source[local].Layer[TemplateGlobal].Control[sioPassword]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[TemplateGlobal].Control[nioPasswordLevelInput]">
      <Property Name="Down" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Right" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Up" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]">
      <Property Name="Down" Value="Source[embedded].Layer[DEFAULT].Control[nioRecipeNo]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
      <Property Name="Right" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Up" Value="Source[local].Layer[TemplateGlobal].Control[nioPasswordLevelInput]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[DEFAULT].Control[sioRecipeName]">
      <Property Name="Down" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Right" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Up" Value="Source[embedded].Layer[DEFAULT].Control[nioRecipeNo]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[DEFAULT].Control[sioRecipeComment]">
      <Property Name="Down" Value="Source[embedded].Layer[DEFAULT].Control[RecipeType]"/>
      <Property Name="Left" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Right" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Up" Value="Source[embedded].Layer[DEFAULT].Control[sioRecipeName]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[DEFAULT].Control[nioRecipeNo]">
      <Property Name="Down" Value="Source[embedded].Layer[DEFAULT].Control[sioRecipeName]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Right" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Up" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[DEFAULT].Control[RecipeType]">
      <Property Name="Down" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputText]"/>
      <Property Name="Left" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputText]"/>
      <Property Name="Right" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputText]"/>
      <Property Name="Up" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]">
      <Property Name="Down" Value="Source[embedded].Layer[DEFAULT].Control[sioRecipeComment]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Right" Value="Source[embedded].Layer[DEFAULT].Control[sioRecipeComment]"/>
      <Property Name="Up" Value="Source[embedded].Layer[DEFAULT].Control[sioRecipeComment]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[DialogLayer].Control[alAlarmOutputText]">
      <Property Name="Down" Value="Source[embedded].Layer[DEFAULT].Control[nioRecipeNo]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Right" Value="Source[embedded].Layer[DEFAULT].Control[RecipeType]"/>
      <Property Name="Up" Value="Source[embedded].Layer[DEFAULT].Control[RecipeType]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[TemplateGlobal].Control[nioPasswordLevelOutput]"/>
    <TabSeqItem Index="1" Value="Source[local].Layer[TemplateGlobal].Control[sioRecipeName]"/>
    <TabSeqItem Index="2" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
    <TabSeqItem Index="3" Value="Source[local].Layer[TemplateGlobal].Control[sioPassword]"/>
    <TabSeqItem Index="4" Value="Source[embedded].Layer[DEFAULT].Control[sioRecipeName]"/>
    <TabSeqItem Index="5" Value="Source[embedded].Layer[DEFAULT].Control[sioRecipeComment]"/>
    <TabSeqItem Index="6" Value="Source[embedded].Layer[DEFAULT].Control[nioRecipeNo]"/>
    <TabSeqItem Index="7" Value="Source[embedded].Layer[DEFAULT].Control[RecipeType]"/>
    <TabSeqItem Index="8" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
    <TabSeqItem Index="9" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputText]"/>
    <TabSeqItem Index="10" Value="Source[embedded].Layer[DEFAULT].Control[nioRecipeNo1]"/>
    <TabSeqItem Index="11" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoOutput]"/>
    <TabSeqItem Index="12" Value="Source[local].Layer[TemplateGlobal].Control[nioPasswordLevelInput]"/>
    <TabSeqItem Index="13" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
    <TabSeqItem Index="14" Value="Source[local].Layer[TemplateGlobal].Control[InputStrRFID_Password1]"/>
  </TabSequence>
</Page>