<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.5.3.86 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="_8000_Alarm_actual">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="768"/>
  <Property Name="Index" Value="8000"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styPage]"/>
  <Property Name="Width" Value="1024"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[TemplateGlobal]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="TemplateGlobal"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <Layer Name="DEFAULT">
      <Property Name="BackColor" Value="15"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="768"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1024"/>
      <Property Name="Z-Order" Value="1"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <TextLayer LanguageId="nl"/>
        <TextLayer LanguageId="it"/>
        <TextLayer LanguageId="da"/>
        <TextLayer LanguageId="fr"/>
        <TextLayer LanguageId="es"/>
        <TextLayer LanguageId="pt"/>
        <TextLayer LanguageId="sv"/>
        <TextLayer LanguageId="el"/>
        <TextLayer LanguageId="fi"/>
        <TextLayer LanguageId="ru"/>
        <TextLayer LanguageId="cs"/>
        <TextLayer LanguageId="et"/>
        <TextLayer LanguageId="hu"/>
        <TextLayer LanguageId="lv"/>
        <TextLayer LanguageId="lt"/>
        <TextLayer LanguageId="mt"/>
        <TextLayer LanguageId="pl"/>
        <TextLayer LanguageId="sk"/>
        <TextLayer LanguageId="sl"/>
        <TextLayer LanguageId="no"/>
        <TextLayer LanguageId="tr"/>
        <TextLayer LanguageId="bg"/>
        <TextLayer LanguageId="ro"/>
        <TextLayer LanguageId="zh"/>
        <TextLayer LanguageId="ko"/>
        <TextLayer LanguageId="ar"/>
        <TextLayer LanguageId="hr"/>
        <TextLayer LanguageId="is"/>
        <TextLayer LanguageId="aa"/>
        <TextLayer LanguageId="ja"/>
        <TextLayer LanguageId="sr"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="btnReturn">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[TPLa_SYM_Symbols]"/>
          <Property Name="BitmapIndex" Value="7"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="68"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="0"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="None"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBtnNaviBar_Left]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="63"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[TPL_8000_BackFromAlarmPage]"/>
          <Property Name="Width" Value="106"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnSelectHistory">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[TPLa_SYM_Symbols]"/>
          <Property Name="BitmapIndex" Value="11"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="68"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="930"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="None"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBtnNaviBar_PageDwn]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="63"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[TPL_CP_8001]"/>
          <Property Name="Width" Value="94"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnSelectHistory1">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[TPLa_SYM_Symbols]"/>
          <Property Name="BitmapIndex" Value="14"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="68"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="829"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="None"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBtnNaviBar_PageUpDis]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="63"/>
          <Property Name="VirtualKey" Value="None"/>
          <Property Name="Width" Value="101"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpListBackgnd">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[TPLa_BG_Backgrounds]"/>
          <Property Name="BitmapIndex" Value="7"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="619"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="16"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBitmap]"/>
          <Property Name="Top" Value="138"/>
          <Property Name="Width" Value="992"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpSlider">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[TPLa_BTN_Listbox]"/>
          <Property Name="BitmapIndex" Value="5"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="607"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="933"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBitmap]"/>
          <Property Name="Top" Value="143"/>
          <Property Name="Width" Value="69"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnReset">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="126"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="KeyMode" Value="Immediate"/>
          <Property Name="Left" Value="933"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="None"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBtnListboxEnter]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="624"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[TPL_8000_Reset]"/>
          <Property Name="Width" Value="69"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnAlarmPageUp">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="70"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="933"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="None"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBtnListboxUp]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="143"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[TPL_8000_AlarmPageUp]"/>
          <Property Name="Width" Value="69"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnAlarmPageDown">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="70"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="933"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="None"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBtnListboxDwn]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="554"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[TPL_8000_AlarmPageDown]"/>
          <Property Name="Width" Value="69"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtTitle">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="48"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.Template.TPL_Pageh.Out.ActualPage]"/>
          <Property Name="Left" Value="188"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styHeadlineNaviBar]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TPL_PageTitle]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="74"/>
          <Property Name="Width" Value="513"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpAlarmSymbol">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[TPLa_SYM_Symbols]"/>
          <Property Name="BitmapIndex" Value="1"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="48"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="110"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styBitmap]"/>
          <Property Name="Top" Value="73"/>
          <Property Name="Width" Value="68"/>
        </Control>
        <Control ClassId="0x00001009" Name="almObject">
          <Property Name="AcknowledgeState_Alignment" Value="Left"/>
          <Property Name="AcknowledgeState_Format" Value="Text"/>
          <Property Name="AcknowledgeState_Position" Value="Column 5"/>
          <Property Name="AcknowledgeState_SeparatorTextGroup" Value="None"/>
          <Property Name="AcknowledgeState_TextBaseIndex" Value="0"/>
          <Property Name="AcknowledgeState_TextGroup" Value="Source[local].TextGroup[TPL_ControlAlarmStatus]"/>
          <Property Name="AcknowledgeState_Width" Value="28"/>
          <Property Name="AlarmNumber_Alignment" Value="Left"/>
          <Property Name="AlarmNumber_MinDigits" Value="3"/>
          <Property Name="AlarmNumber_Position" Value="Column 3"/>
          <Property Name="AlarmNumber_SeparatorTextBaseIndex" Value="2"/>
          <Property Name="AlarmNumber_SeparatorTextGroup" Value="Source[local].TextGroup[TPL_ControlAlarmSeparator]"/>
          <Property Name="AlarmNumber_Width" Value="50"/>
          <Property Name="AlarmState_Position" Value="None"/>
          <Property Name="AlarmText_Alignment" Value="Left"/>
          <Property Name="AlarmText_Position" Value="Column 4"/>
          <Property Name="AlarmText_SeparatorTextGroup" Value="None"/>
          <Property Name="AlarmText_Width" Value="605"/>
          <Property Name="BypassState_Position" Value="None"/>
          <Property Name="ColumnCount" Value="5"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Cursor_LeftBitmap" Value="None"/>
          <Property Name="Cursor_LeftTextGroup" Value="None"/>
          <Property Name="Cursor_RightBitmap" Value="None"/>
          <Property Name="Cursor_RightTextGroup" Value="None"/>
          <Property Name="DateTime_Alignment" Value="Left"/>
          <Property Name="DateTime_FormatStringBaseIndex" Value="0"/>
          <Property Name="DateTime_FormatStringTextGroup" Value="Source[local].TextGroup[TPL_ControlDateTime]"/>
          <Property Name="DateTime_Position" Value="Column 1"/>
          <Property Name="DateTime_SeparatorTextGroup" Value="None"/>
          <Property Name="DateTime_Width" Value="150"/>
          <Property Name="Description" Value=""/>
          <Property Name="Event_Position" Value="None"/>
          <Property Name="GroupNumber_Alignment" Value="Right"/>
          <Property Name="GroupNumber_MinDigits" Value="3"/>
          <Property Name="GroupNumber_Position" Value="Column 2"/>
          <Property Name="GroupNumber_SeparatorTextGroup" Value="None"/>
          <Property Name="GroupNumber_Width" Value="30"/>
          <Property Name="Height" Value="594"/>
          <Property Name="Left" Value="47"/>
          <Property Name="Node1" Value="User order"/>
          <Property Name="Priority_Position" Value="None"/>
          <Property Name="SortColumn" Value="Time"/>
          <Property Name="SortOrder" Value="Descending"/>
          <Property Name="Source" Value="Current"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[styAlarm]"/>
          <Property Name="Top" Value="152"/>
          <Property Name="Width" Value="863"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="TPL_8000_Reset">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016B">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.TPL_Alarmh.Out.Stat.ResetButtonPressed]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="TPL_8000_BackFromAlarmPage">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.Template.PageHandling.pageh.ByPassReturnButton]"/>
              <Property Name="CompletionValue" Value="1"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Template.PageHandling.pageh.ButBackFromAlarming]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="TPL_8000_AlarmPageUp">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016E">
              <Property Name="Action" Value="Page Up"/>
              <Property Name="Control" Value="Source[local].Page[_8000_Alarm_actual].Layer[DEFAULT].Control[almObject]"/>
              <Property Name="Description" Value=""/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="TPL_8000_AlarmPageDown">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016E">
              <Property Name="Action" Value="Page Down"/>
              <Property Name="Control" Value="Source[local].Page[_8000_Alarm_actual].Layer[DEFAULT].Control[almObject]"/>
              <Property Name="Description" Value=""/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
    <LayerRef Source="Source[local].Layer[DialogLayer]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="DialogLayer"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="2"/>
    </LayerRef>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[TemplateGlobal].Control[sioPassword]">
      <Property Name="Down" Value="Source[local].Layer[TemplateGlobal].Control[InputStrRFID_Password1]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Right" Value="Source[embedded].Layer[DEFAULT].Control[almObject]"/>
      <Property Name="Up" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[TemplateGlobal].Control[InputStrRFID_Password1]">
      <Property Name="Down" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
      <Property Name="Left" Value="Source[embedded].Layer[DEFAULT].Control[almObject]"/>
      <Property Name="Right" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
      <Property Name="Up" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]">
      <Property Name="Down" Value="Source[embedded].Layer[DEFAULT].Control[almObject]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[InputStrRFID_Password1]"/>
      <Property Name="Right" Value="Source[embedded].Layer[DEFAULT].Control[almObject]"/>
      <Property Name="Up" Value="Source[local].Layer[TemplateGlobal].Control[sioPassword]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[TemplateGlobal].Control[nioPasswordLevelInput]">
      <Property Name="Down" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Right" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
      <Property Name="Up" Value="Source[embedded].Layer[DEFAULT].Control[almObject]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]">
      <Property Name="Down" Value="Source[embedded].Layer[DEFAULT].Control[almObject]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
      <Property Name="Right" Value="Source[embedded].Layer[DEFAULT].Control[almObject]"/>
      <Property Name="Up" Value="Source[local].Layer[TemplateGlobal].Control[nioPasswordLevelInput]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[DEFAULT].Control[almObject]">
      <Property Name="Down" Value="Source[local].Layer[TemplateGlobal].Control[nioPasswordLevelInput]"/>
      <Property Name="Left" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
      <Property Name="Right" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
      <Property Name="Up" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputText]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]">
      <Property Name="Down" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputText]"/>
      <Property Name="Left" Value="Source[embedded].Layer[DEFAULT].Control[almObject]"/>
      <Property Name="Right" Value="Source[embedded].Layer[DEFAULT].Control[almObject]"/>
      <Property Name="Up" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[DialogLayer].Control[alAlarmOutputText]">
      <Property Name="Down" Value="Source[embedded].Layer[DEFAULT].Control[almObject]"/>
      <Property Name="Left" Value="Source[embedded].Layer[DEFAULT].Control[almObject]"/>
      <Property Name="Right" Value="Source[embedded].Layer[DEFAULT].Control[almObject]"/>
      <Property Name="Up" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[TemplateGlobal].Control[nioPasswordLevelOutput]"/>
    <TabSeqItem Index="1" Value="Source[local].Layer[TemplateGlobal].Control[sioRecipeName]"/>
    <TabSeqItem Index="2" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoInput]"/>
    <TabSeqItem Index="3" Value="Source[local].Layer[TemplateGlobal].Control[sioPassword]"/>
    <TabSeqItem Index="4" Value="Source[embedded].Layer[DEFAULT].Control[almObject]"/>
    <TabSeqItem Index="5" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputDateNr]"/>
    <TabSeqItem Index="6" Value="Source[local].Layer[DialogLayer].Control[alAlarmOutputText]"/>
    <TabSeqItem Index="7" Value="Source[local].Layer[TemplateGlobal].Control[nioScreenNoOutput]"/>
    <TabSeqItem Index="8" Value="Source[local].Layer[TemplateGlobal].Control[nioPasswordLevelInput]"/>
    <TabSeqItem Index="9" Value="Source[local].Layer[TemplateGlobal].Control[InputStr_ESignature_Value]"/>
    <TabSeqItem Index="10" Value="Source[local].Layer[TemplateGlobal].Control[InputStrRFID_Password1]"/>
  </TabSequence>
</Page>